* text=auto eol=lf

*.sln text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.mkv binary
*.mov binary
*.exe binary
*.zip binary

